<ul class="tabbar">
    <li><a href="/gender">Gender</a></li>
    <li><a href="/ethnicity">Ethnicity</a></li>
    <li><a href="/religion">Religion</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/eth_insur">Ethnicity & Insurance</a></li>
</ul>