<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIMIC Data Visulization</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <%- include('./partials/navbar.ejs') %> 

        <div id="main" style="width:100vh; height:60vh;"></div>
    </div>

    <script type="text/javascript">
        const rawData = '<%- data%>'; 
        const data = JSON.parse(rawData);
        console.log(data);

        var myChart = echarts.init(document.getElementById('main'));

        option = {
            title:{
                text: 'Ethnicity Distribution',
                left:'center',
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'horizontal',
                top:'8%',
                left: 'left'
            },
            series: [
                {
                name: 'Access From',
                type: 'pie',
                radius: ['40%', '60%'],
                // radius: ['50%'],
                center:['50%','50%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 2
                },
                label: {
                    show: false,
                    position: 'center'
                },
                labelLine: {
                    show: false
                },
                emphasis: {
                    itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                data: [
                    { value:data[0].value, name:data[0].key },
                    { value:data[1].value, name:data[1].key },
                    { value:data[2].value, name:data[2].key },
                    { value:data[3].value, name:data[3].key },
                    { value:data[4].value, name:data[4].key },
                    { value:data[5].value, name:data[5].key },
                    { value:data[6].value, name:data[6].key },
                    { value:data[7].value, name:data[7].key },
                    { value:data[8].value, name:data[8].key },
                ]
                }
            ]
            }; 

            myChart.setOption(option);
    </script>
</body>

</html>